#bkground {
    background: url('../assets/trees23.jpg') fixed;
    width: 1048px;
    height: 699px;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.flex-container {
    display: flex;
}

/* Use these for modals or anything else that needs to be opaque gray */
.opaqueGrayDark {
    background-color: rgba(51,51,51, 0.9);
}

.opaqueGrayLight {
    background-color: rgba(51,51,51, 0.7);
}

#formSide {
    flex-basis: 42.5%;
    padding-left: 2.5%;
}

#introSide {
    flex-basis: 52.5%;
    padding-right: 2.5%;
}

.enviroShopMainColor {
    background-color: #2b8742;
}

.busView {
    background-color: #666666;
}

/* Dustismo font */
@font-face {
    font-family: dustismo;
    src: url('../assets/dustismo.ttf');
}

/* Liberation Sans font */
@font-face {
    font-family: liberation_sans;
    src: url('../assets/liberation_sans.ttf');
}

.dustismo {
    font-family: dustismo;
}

.liberation-sans {
    font-family: liberation_sans;
}



/******************************

Start of Navbar Style Rules

*******************************/

.navIcon {
    text-decoration: none;
    color: black;
}

.glyphs span {
    font-size: 3.5em;
    color: black;
    vertical-align: inherit;
    padding: 0 0;
    line-height: 1;
    font-weight: normal;
}

.glyphs {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}
#logo {
    width: 60px;
    height: 60px;
    background-color: white;
}

.navbar {
    border-color: #2b8742;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navIcon span {
    width: inherit;
    height: inherit;
}

.tagline {
    color: white;
    float: right;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 32px;
}

/******************************

End of Navbar Style Rules

*******************************/





/*********************************

Start of Business Overview Rules

**********************************/

.overview {
    width: 33%;
    background-color: #666666;
    display: flex;
}

.overview h2 {
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
}

/*********************************

End of Business Overview Rules

**********************************/