html {
height: 100%
}

.Filter {
    background-image: linear-gradient(white, rgb(119,166,130));
    height: 100%;
}

.col-md-8 {
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow-y: hidden;
}

.col-md-4 {
    padding-bottom: 100%;
    margin-bottom: -100%;
    overflow-y: hidden;
}

.Tabbed {
    position: relative;
    left: 30px;
}