
html, body{
 
    background-image: linear-gradient(white, rgb(119,166,130));
}

.jumbotron h2{
    left:10px;
}

.img-circle {
    border-radius: 50%;
    padding-top: 10px;
}

.panel {
    text-align: center;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}