<div class="overview">
    <div><h2 id="busName" class="liberation-sans">Wegmans</h2></div>
    <div><img id="busLogo" src="../assets/wegmanslogo.jpg"></div>
    <div id=infoboxes">
        <div id="addressInfobox" class="infobox">
            <p>1 Main St</p>
            <p>Rochester, NY</p>
            <p>14623</p>
        </div>
        <div id="phoneNumInfobox" class="infobox">
            <p>585-123-4567</p>
        </div>
        <div id="websiteInfobox" class="infobox">
            <p><a href="http://wegmans.com">wegmans.com</a></p>
        </div>
    </div>
</div>
