<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="icon" href="../../favicon.ico">
                                
                                <title>Mom N' Pop Food Shop</title>
                                
                                <!-- Bootstrap core CSS -->
                                <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
                                    
                                    
                                    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                                        <!-- Custom styles for this template -->
                                        <link href="narrow-jumbotron.css" rel="stylesheet">
                                            </head>
    
    <body>
        
        
        <navbar></navbar>
        <div class="container">
            
            <div class="panel panel-success">
                <div class="jumbotron">
                    <h1 class="display-3" style="text-align: center">Mom N' Pop Food Shop</h1>
                    
                    <br>
                    
                    <img src="../assets/mompopstore.jpg" style="display: block; margin-left: auto; margin-right: auto"> </img>
                    
                    <br><br>
                    
                    <h4> About </h4>
                    
                    <p class="lead">Delicious ingredients and products that our customers can trust! Rated "Best In The Universe" by thousands of magazines. Stop in for our homemade Herbal Kim-Chi and the best selection of beetroots in the country!</p>
                    
                    <br>
                    
                    <p style="text-align: center">
                    100 Parkview Ave, Rochester, NY
                    </p>
                    
                    <p style="text-align: center">
                    <a class="btn btn-lg btn-success" href="https://www.google.com/maps/dir/''/100+Parkview+Dr,+Rochester,+NY+14625/@43.1591337,-77.519328,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89d6ca4b5a9071bd:0x783ad806d21cb3de!2m2!1d-77.5177616!2d43.1604798" role="button" style="float: center">Directions</a>
                    </p>
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-3">
                        <h2 style="padding-left: 20px;"> Products </h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                            <smallproduct></smallproduct>
                        </div>
                        <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                            <smallproduct></smallproduct>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-3">
                        <h2 style="padding-left: 20px;"> Reviews </h2>
                    </div>
                    <div class="col-lg-9">
                        <newreview></newreview>
                    </div>
                </div>
                
                <br><br>
                
                <div class="row">
                    <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                        <review></review>
                    </div>
                    <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                        <review></review>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>
        
        <!-- /container -->
        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
    =======
