<link rel="stylesheet" type="text/css" href="../styles/businessPages.css">
<navbar></navbar>
<div class="row">
    <div class="col-md-4 overview">
        <h1 class="liberation-sans" id="busName" ng-model="info.name">{{info.name}}</h1>
        <img id="busLogo" src="../assets/{{info.name}}logo.jpg">
        <div id="infoboxes">
            <div id="addressInfo" class="infobox" ng-model="info">
                <p>{{info.street_address}}</p>
                <p>{{info.city}}, {{info.state}}</p>
                <p>{{info.zip_code}}</p>
            </div>
            <div id="phoneInfo" class="infobox">
                <p>{{info.phone_num}}</p>
            </div>
            <div id="websiteInfo" class="infobox">
                <p><a href="http://{{info.website}}">{{info.website}}</a></p>
            </div>
        </div>
        <div style="width: 100%; margin: 0 auto; text-align: center">
            <button class="btn liberation_sans" style="color: white; background-color: green; width: 40%; text-align: center;">View Users</button>
        </div>
        <div class="fill"></div>
    </div>

    <div class="col-md-8 busPanel">
        <h1 class="liberation_sans panelHeader">Products</h1>
        <div class="products">
            <div ng-repeat="p in fiveProducts" style="background: #666666; border-radius: 10px;">
                <img id="productImg{{p.Id}}" src="">
                <p>product here</p>
            </div>
        </div>
        <div id="navarrows" style="width: 100%; margin: 0 auto; text-align: center">
            <span class="btn glyphicon glyphicon-arrow-left"></span>
            <span class="btn glyphicon glyphicon-arrow-right"></span>
        </div>
    </div>
</div>