
<link rel="stylesheet" type="text/css" href="../styles/businessdashboard.css">

<navbar></navbar>
<div class="row">
    <div class="col-md-4 overview">
        <h1 class="liberation-sans" id="busName" ng-model="info.name">{{info.name}}</h1>
        <img id="busLogo" src="../assets/{{info.name}}logo.jpg">
        <div id="infoboxes">
            <div id="addressInfo" class="infobox" ng-model="info">
                <p>{{info.street_address}}</p>
                <p>{{info.city}}, {{info.state}}</p>
                <p>{{info.zip_code}}</p>
            </div>
            <div id="phoneInfo" class="infobox">
                <p>{{info.phone_num}}</p>
            </div>
            <div id="websiteInfo" class="infobox">
                <p><a href="http://{{info.website}}">{{info.website}}</a></p>
            </div>
        </div>
        <div style="width: 100%; margin: 0 auto; text-align: center">
            <button class="btn btn-primary">View Users</button>
        </div>
    </div>
    <div class="col-md-8" id="initialBusinessRightSide ">
       <div class="col-md-4 busPanel" style="width: 50%;">
            <h1 class="liberation_sans panelHeader">Latest Reviews</h1>
           <div class="reviews">
                <div ng-repeat="r in fiveReviews" style="background-color: #666666; border-radius: 10px;">
                    <p class="reviewFeed">{{r.content}}
                        <button class="btn pull-right" style="background-color: #666666">
                            <span class="" style="color: white; text-align: right;">&times;</span>
                        </button>
                    </p>
                    <p class="reviewFeed">-{{r.user}}</p>
                    <p class="reviewFeed" style="text-align: right;">{{r.date_posted | date: "MM-dd-yy"}}</p>
                </div>
               <div style="text-align: center">
                   <button ng-click="goToReviews()" class="btn btn-primary" style="background-color: green; color: white;">See All Reviews</button>
               </div>
           </div>
       </div>
        <div class="col-md-4 busPanel" style="width: 50%;">
            <h1 class="liberation_sans panelHeader">Products</h1>
            <div style="border-style: dashed; background-color: white; border-color: gray;">
                <h2 id="draganddrop">Drag and Drop Photos Here, or Click Here to Upload</h2>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
                <input type="text" class="form-control" placeholder="$ Price">
                <textarea class="form-control" placeholder="Description"></textarea>
            </div>
            <div>
                <div class="col-centered">
                    <button class="btn btn-primary same-size-button">
                        <p class="button-text">Add Product</p>
                    </button>
                    <button class="btn btn-primary same-size-button" style="margin-left: 10px" ng-click="goToProducts()">
                        <p class="button-text">See All</p>
                        <p class="button-text">Products</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
