<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../styles/faq.css">

<navbar></navbar>
<br>
<body>
<div class="container" id="faqGrad">

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">What is EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                   Enviroshop is an application built for consumers in mind. We allows shoppers to find local places that serve environmentally friendly
                    foods.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">Who created EnviropShop?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    EnviroShop was created by enterpenuers who had healthy eating mind. They saw that people were frustrated with unhealthy
                    fast foods places and found a simple solution to the complex problem of finding healthy meals to eat.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven">Where can I email questions to?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Please send your questions and concerns to CustomerSupport@enviroshop.com
                </div>
            </div>
        </div>

        <div class="faqHeader">Shoppers</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">What are reviews for?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Reviews are meant for shoppers to leave feedback for businesses they have been to and for products they have tried.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">How do I find stores?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   To find a store use our map feature with the icon above in the top bar. By clicking the map icon you will be taken to multiple stores
                    around your location.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">Why isn't a store I use on EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">

                    Businesses have the option to sign up for our application. If your favorite store/restaurant is not listed
                    urge them to sign-up!

                </div>
            </div>
        </div>
        <!---
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">Why sell my items here?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    There are a number of reasons why you should join us:
                    <ul>
                        <li>A great 70% flat rate for your items.</li>
                        <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>
                        <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>PrepBootstrap</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">What are the payment options?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    The best way to transfer funds is via Paypal. This secure platform ensures timely payments and a secure environment.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">When do I get paid?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account.
                    The minimum amount of your balance should be at least 70 USD.
                </div>
            </div>
        </div> -->

        <div class="faqHeader">Businesses</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">What are product listings?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   Product Listings are an oppurtinity for you as business to list what you have in store and market it to our user base.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">How do I reply to a review?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    To reply to reviews just look at the review you have been given and use the reply button listed next to it. 
                </div>
            </div>
            </div>
        </div>
</div>


</body>
</html>