<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../styles/faq.css">

<navbar></navbar>
<br>
<body>
<div class="container" id="faqGrad">

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General Questions</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">What is EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                   EnviroShop is an application built for consumers in mind. We allows shoppers to find local places that serve environmentally friendly
                    foods.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSignUp">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSignUp">How do I sign up for EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseSignUp" class="panel-collapse collapse">
                <div class="panel-body">
                    If you don't have an EnviroShop account, you can create one in a few steps:
                    <ol>

                        <li>Go to the EnviroShop site.</li>
                        <li>Click Sign Up.</li>
                        <li>Choose the type of account you'd like to create, business or a shopper.</li>
                        <li>Fill out the form, after clicking submit you will be redirected to login with your new account.</li>

                    </ol>
                    <strong>Note: If you already have an EnviroShop account, you can log into your account by entering your email and password and clicking Log In.</strong>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen">Who created EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    EnviroShop was created by entrepreneurs who had healthy eating mind. They saw that people were frustrated with unhealthy
                    fast foods places and found a simple solution to the complex problem of finding healthy meals to eat.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven">Where can I email questions to?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Please send your questions and concerns to CustomerSupport@enviroshop.com
                </div>
            </div>
        </div>

        <div class="faqHeader">Shoppers</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">What are reviews for?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Reviews are meant for shoppers to leave feedback for businesses they have been to and for products they have tried.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">How do I find stores?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   To find a store use our map feature with the icon above in the top bar. By clicking the map icon you will be taken to multiple stores
                    around your location.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">Why isn't a store I use on EnviroShop?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">

                    Businesses have the option to sign up for our application. If your favorite store/restaurant is not listed
                    urge them to sign-up!

                </div>
            </div>
        </div>


        <div class="faqHeader">Businesses</div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">What are product listings?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   Product Listings are an opportunity for you as business to list what you have in store and market it to our user base.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">How do I reply to a review?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    To reply to reviews just look at the review you have been given and use the reply button listed next to it.
                </div>
            </div>
            </div>
        </div>
</div>


</body>
</html>