<!-- Link to login Page css -->
<link rel="stylesheet" type="text/css" href="../styles/loginPage.css">

<div id="loginBackground">
    <div class="row">
        <div class="col-md-8 gradient">
            <p id="main-logo-left">Enviro<span id="main-logo-right">Shop</span></p>
            <div class="text-box opaqueGrayLight">
                <p style="color: white">Connecting you to a healthier lifestyle one bite at a time ...</p>
            </div>
        </div>

        <div class="col-md-4 opaqueGrayDark">
            <img class="center-block" src="../assets/icon_blatt.png"/>
            <div class="form-group col-xs-8 col-centered">
                <input ng-model="loginCredentials.email" type="text" class="form-control" placeholder="Email" id="usr">
                <input ng-model="loginCredentials.pswd" type="password" class="form-control" placeholder="Password" id="pwd">
            </div>
            <div class="col-xs-8 col-centered">
                <div class="col-centered">
                    <button ng-click="login()" class="btn btn-primary same-size-button btn-lg">Log In</button>
                    <button class="btn btn-primary same-size-button btn-lg pull-right">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
