<div>
    <nav class="navbar enviroShopMainColor">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h3 class="dustismo tagline">EnviroShop</h3>
                <a title="Home" href="{{ homeLink }}"><img id="logo" src="../assets/icon_blatt.png"></a>
            </div>
            <div class="glyphs">
                <span title="Map" id="mapButton" class="btn glyphicon glyphicon-map-marker"  ng-click="showMap()" ></span>
                <span title="Search" id="searchButton" class="btn glyphicon glyphicon-search" ng-click="showSearchBar()"></span>
                <span title="Profile" id="userButton" class="btn glyphicon glyphicon-user" ng-click="goToProfile()"></span>
                <span title="FAQs" id="faqButton" class="btn glyphicon glyphicon-question-sign" ng-click="showFaqs()"></span>

            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
