
<navbar></navbar>

<div class="container">
    
    <br>
    <br>
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Product name</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="../assets/celery_example.jpg" class="img-rounded" alt="Celery" width="304" height="236">
                    </img>
                </div>
                <div class="col-md-8">
                    Information about Celery
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-lg-3">
                <h2 style="padding-left: 100px;"> Reviews </h2>
            </div>
            <div class="col-lg-9">
                <newreview></newreview>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                    <review></review>
            </div>
            <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;">
                <review></review>
            </div>
        </div>
    </div>
</div>
