
<navbar></navbar>

<div class="container" ng-model="product">
    
    <br>
    <br>
    
    <div class="panel panel-success" ng-model="product">
        <div class="panel-heading">
            <h3 class="panel-title">{{product.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{product.image}}" class="img-rounded" alt="Celery" width="304" height="236">
                    </img>
                </div>
                
                
                <br>
                
                <h4> Located At: </h4>
                <div class="col-md-8">
                    Wegmans
                </div>
                
                <br><br>
                
                <h4> About </h4>
                <div class="col-md-8">
                    {{product.description}}
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-lg-3">
                <h2 style="padding-left: 20px;"> Reviews </h2>
            </div>
            <div class="col-lg-9">
                <newreview></newreview>
            </div>
        </div>
        <br>
        <div class="row" id="reviews">
            <div class="col-lg-6" style="padding-left: 40px; padding-right: 40px;" ng-repeat="r in currentReviews">
                    <!--<review></review>-->
                <div class="panel panel-success" style="padding-left: 10px; padding-right: 10px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-1" ng-model="r.user">{{r.user}}</div>
                            <div class="col-lg-4 pull-right" style="padding-right: 60px">
                                <table>
                                    <tr>
                                        <th style="padding-right: 0px; padding-left: 0px">
                                            <div style="padding-right: 0px; padding-left: 0px">
                                                <img ng-src="{{r.rating >= 1 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}" alt="filled" width="18" height="18">
                                            </div>
                                        </th>
                                        <th style="padding-right: 0px; padding-left: 0px">
                                            <div style="padding-right: 0px; padding-left: 0px">
                                                <img ng-src="{{r.rating >= 2 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}" alt="filled" width="18" height="18">
                                            </div>
                                        </th>
                                        <th style="padding-right: 0px; padding-left: 0px">
                                            <div style="padding-right: 0px; padding-left: 0px">
                                                <img ng-src="{{r.rating >= 3 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}" alt="filled" width="18" height="18">
                                            </div>
                                        </th>
                                        <th style="padding-right: 0px; padding-left: 0px">
                                            <div style="padding-right: 0px; padding-left: 0px">
                                                <img ng-src="{{r.rating >= 4 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}" alt="filled" width="18" height="18">
                                            </div>
                                        </th>
                                        <th style="padding-right: 0px; padding-left: 0px">
                                            <div style="padding-right: 0px; padding-left: 0px">
                                                <img ng-src="{{r.rating >= 5 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}" alt="filled" width="18" height="18">
                                            </div>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div ng-model="r.content">
                            {{r.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
