<link rel="stylesheet" type="text/css" href="../styles/search.css">

<navbar></navbar>


    <div class="col-md-4 Filter" >
        <h1 class="liberation-sans">Filter by</h1>
            <input type="checkbox" name="filter" value="Business">Business<br>
            <input type="checkbox" name="filter" value="Product">Product<br>
            <input type="checkbox" name="filter" value="Rated">Rated<br>
            <div class="Tabbed">
                <input type="checkbox" name="filter" ng-model="check.rating['5']" value="5">5 Leafs<br>
                <input type="checkbox" name="filter" ng-model="check.rating['4']" value="4">4 Leafs<br>
                <input type="checkbox" name="filter" ng-model="check.rating['3']" value="3">3 Leafs<br>
                <input type="checkbox" name="filter" ng-model="check.rating['2']" value="2">2 Leafs<br>
                <input type="checkbox" name="filter" ng-model="check.rating['1']" value="1">1 Leaf<br>
            </div>
    </div>

    <div class="col-md-8">

            <h1 class="liberation_sans">Search<input ng-model = "search"></h1>
            <table>
                <tr  ng-repeat="i in items | filter:search" ng-model="i" ng-class-odd="'odd'" ng-class-even="'even'" >
                    <td class="Col1">
                        <a href="/#/product/{{i.id}}" style="color:black">{{i.name}}</a>
                    </td>
                    <td ng-class-odd="'oddCol2'" ng-class-even="'evenCol2'">
                        <span><img style="height: 30px" ng-src="{{i.rating >= 1 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}"></span>
                        <span><img style="height: 30px" ng-src="{{i.rating >= 2 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}"></span>
                        <span><img style="height: 30px" ng-src="{{i.rating >= 3 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}"></span>
                        <span><img style="height: 30px" ng-src="{{i.rating >= 4 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}"></span>
                        <span><img style="height: 30px" ng-src="{{i.rating >= 5 ? '../assets/review_leaf_filled.png' : '../assets/review_leaf_empty.png'}}"></span>
                    </td>
                    <td class="Col3">
                        {{i.type}}
                    </td>
                </tr>
            </table>
    </div>

