<link rel="stylesheet" type="text/css" href="../styles/search.css">

<navbar></navbar>


    <div class="col-md-4 Filter" >
        <h1 class="liberation-sans">Filter by</h1>
        <form>
            <input type="checkbox" name="filter" value="Business">Business<br>
            <input type="checkbox" name="filter" value="Product">Product<br>
            <input type="checkbox" name="filter" value="Rated">Rated<br>
            <div class="Tabbed">
            <input type="checkbox" name="filter" value="5leaf">5 Leafs<br>
            <input type="checkbox" name="filter" value="4leaf">4 Leafs<br>
            <input type="checkbox" name="filter" value="3leaf">3 Leafs<br>
            <input type="checkbox" name="filter" value="2leaf">2 Leafs<br>
            <input type="checkbox" name="filter" value="1leaf">1 Leaf<br>
            </div>
        </form>
    </div>

    <div class="col-md-8">

            <h1 class="liberation_sans">Search<input type="text">11 Results Found</h1>
            <table>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Cabbage
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/businessview';" style="background-color: white; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Wegmans
                    </td>
                    <td style="background-color: #a9a9a9; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Business
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Best Potato
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: white; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Carrots
                    </td>
                    <td style="background-color: #a9a9a9; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>

                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Beer
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: white; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Apples
                    </td>
                    <td style="background-color: #a9a9a9; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Steak
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: white; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Cheese
                    </td>
                    <td style="background-color: #a9a9a9; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Good Potato
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: white; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Pineapple
                    </td>
                    <td style="background-color: #a9a9a9; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
                <tr onclick="window.location = '/#/product';" style="background-color: green; height: 50px">
                    <td style="width: 500px; text-indent: 50px">
                        Crackers
                    </td>
                    <td style="background-color: gray; width: 175px; text-align: center">
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>
                        <img style="height: 30px" src="../assets/review_leaf_filled.png"/>

                    </td>
                    <td style="width: 200px; text-align: right; position: relative; right: 50px">
                        Product
                    </td>
                </tr>
            </table>

    </div>

