<navbar></navbar>
<link rel="stylesheet" type="text/css" href="../styles/userprofile.css">
<div class="container">
    <div class="row">
        <div class="col-md-4 profileColumn">
            &nbsp
        </div>
        <div class="col-md-4 profileColumn profileWrapper">
            <div class="row opaqueGrayDark profileCenter">
                <div class="row" id="profileName">
                    Ricky Bobby
                </div>
                <img class="img-circle" src="../assets/userProfileMale.png"/>
                <p>Profile Block</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>

            </div>
        </div>
        <div class="col-md-4 profileColumn">
            &nbsp
        </div>
    </div>
</div>