    <div class="panel panel-success" style="padding-left: 10px; padding-right: 10px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-1">
                    <img src="../assets/celery_example.jpg" class="img-rounded" alt="Celery" width="150" height="120">
                    </img>
                </div>
                
                <div class="col-lg-4 pull-right" style="padding-right: 60px; padding-top: 50px">
                    <table>
                        <tr>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_filled.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_filled.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div>
                Very specially delicious Celery brought right from the farm to the market! No pesticides!
            </div>
        </div>
        <div  style="padding-left: 30px; padding-bottom: 30px">
        <a class="btn btn-success" href="/#/product" role="button" style="float: center">View Product</a>
        </div>
    </div>
