    <div class="panel panel-success" style="padding-left: 10px; padding-right: 10px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-1">
                    Username
                </div>
                
                <div class="col-lg-4 pull-right" style="padding-right: 60px">
                    <table>
                        <tr>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_filled.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_filled.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                            <th style="padding-right: 0px; padding-left: 0px">
                                <div style="padding-right: 0px; padding-left: 0px">
                                    <img src="../assets/review_leaf_empty.png" alt="filled" width="18" height="18"></img>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div>
                This celery is so delicious. I am happy to be eating this celery because it is healthy and saves the planet.
            </div>
        </div>
    </div>
